<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Graph</title>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="graphing.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <svg></svg>
    <script>
        var data = []
        for (let x = 0; x < 3000; x++){
            data.push(Math.ceil(Math.random() * 10000000));
        }
        var bins = 20;
        //makeHistogram(data, bins);
        exampleHistogram(data, bins);
    </script>
</body>
</html>