<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Graph</title>

    {% load static %}
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="{% static 'main/graphing.js' %}"></script>
    <script src="{% static 'main/objHist.js' %}"></script>
    <script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
              crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/main/styles.css' %}">
</head>
<body>
    <form id='form' oninput="reload(event)">
        {%csrf_token%}
        <select name="" id="field">
            <option value="total_revenue" selected="selected" class="field">Total Revenues</option>
            <option value="total_expenses"class="field">Total Expenses</option>
            <option value="government_grants"class="field">Government Grants</option>
            <option value="revenues_less_expenses"class="field">Revenueless Expenses</option>
            <option value="gross_receipts"class="field" disabled>Gross Receipts</option>
        </select>
        <select>
            <option value="auto">Auto</option>
            <option value=40>40</option>
            <option value=50>50</option>
            <option value=60>60</option>
            <option value=70>70</option>
            <option value=80>80</option>
            <option value=90>90</option>
            <option value="100">100</option>
        </select>
    </form>
    <svg id="graph" width="960" height="500"></svg>
    <div class='tooltip'></div>
    <script>
        var full;

        $.get('/histogram',
            {data : 10000},
            d => {
                //console.log(d);
                return d;
            }).then(d => {
                full = JSON.parse(d['fulldata']);
                objHist(full, "total_revenue", 0);
            })
        
        function reload(e) {
            removeHistogram();
            var element = e.srcElement;
            var selected = element.value;
            console.log(e)

            objHist(full, selected, 0)
        }
    </script>
</body>
</html>