svg {
  margin: 50px;
}

.bar-chart {
    background-color: #C7D9D9;
}

rect:hover{
    fill: red;
}

rect{
  fill: green;
}

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: Futura;
  font-size: 16px;
  line-height: 20px;
}

body{
  padding-left: 75px;
  padding-top: 25px;
}

p{
  display: flex;
  justify-content: space-between;
  width: 150px;
}